.product-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
}

.product-card {
    text-align: center;
  flex: 0 0 auto;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.product-card:hover {
transform: scale(1.02);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.arrow-btn {
  border: none;
  background: #ddd;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  margin: 0 0.25rem;
  cursor: pointer;
}
.product-price {
  margin-bottom: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.discounted-price {
  font-weight: bold;
  color: #d9534f;
}

  #truncate {
  max-width: 350px;      
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #198754;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  z-index: 9999;
  font-weight: bold;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-20px); }
}