<div *ngIf="product"><section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">
            <img [src]="'http://localhost:8088/images/' + product.images" alt="{{ product.images }}"  />
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title">{{product.name}}</h5>
              </div>
              <div class="row pt-2">
                <div class="col-4">
                  <span class="fw-bold">Giá:</span>
                </div>
                <div class="col-auto"><span>{{product.price}} VND</span></div>
              </div>
              <div class="row pt-2">
                <div class="col-4 ">
                  <span class="fw-bold">Ngày sản xuất:</span>
                </div>
                <div class="col-auto"><span>{{product.date}}</span></div>
              </div>
              <div class="row pt-2">
                <div class="col-4 ">
                  <span class="fw-bold">Ngày hết hạn:</span>
                </div>
                <div class="col-auto"><span>{{product.expiryDate}}</span></div>
              </div>
              <div class="row pt-2">
                <div class="col-4">
                  <span class="fw-bold">Mô tả:</span>
                </div>
                <div class="col-8"><span>{{product.description}}</span></div>
              </div>
              <!-- <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Total</span><span></span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

